*.pyc

data/shell_10/continue - Copy.json
data/shell_10/continue_meta.json
data/shell_10/continue.json
data/shell_10/CZA_002_01.jpg
data/shell_10/CZA_012_01.jpg
data/shell_10/desktop.ini
data/shell_10/empty_meta.json
data/shell_10/empty.json
data/shell_10/ER_EA2_223_1.jpg
data/shell_10/ER_EA2_225_1.jpg
data/shell_10/ER_EA2_244_1.jpg
data/shell_10/ER_EA2_378_1.jpg
data/shell_10/NE_E2_F42_1.jpg
data/shell_10/NE_E2_M06_1.jpg
data/shell_10/NE_E2_M47_1.jpg
data/shell_10/NE_E2_M57_1.jpg
data/shell_10/shell_meta.csv
data/shell_10/test.csv

assets/*edi.pptx
assets/img/
