*.pyc
__pycache__/

# data/*
!data/bird_10
data_dl/*

assets/*edi.pptx
assets/img/

deeplearning/deprecate_pycocotools/
runs/
saved_model/

output/
deeplearning/ui/*
!deeplearning/ui/pred_ui.py
!deeplearning/ui/train_ui.py